* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Belanosima';
}
.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
    background-color: rgb(42, 74, 108);
}
.left-side-panel {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 10;
}
.top-panel {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;

    background-color: rgb(163, 245, 224);
}
.main-panel {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 10;

    background-color: rgb(220, 209, 153);

    padding: 20px;
}
.right-side-panel {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 10;
}
.books-panel {
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}
.book-card {
    /*flex: 1 1 auto;*/

    background-color: rgb(171, 161, 109);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 4px rgb(186, 179, 147),
                1px 2px 1px 2px rgb(250, 246, 229) inset;
    padding: 20px;
    position: relative;
}
.book-card:hover {
    background-color: rgb(204, 186, 99);
}
.remove-book-icon {
    content: url('./resources/book-remove.svg');
    width: 24px;
    height: auto;
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.top-panel {
    text-align: center;
    padding: 10px;
}
.library-header, .library-book-icon {
    display: inline-block;
}
.library-book-icon {
    content: url('./resources/book-open-page-variant.svg');
    width: 40px;
    height: auto;
}
.library-header {
    font-size: 36px;
}
.add-book-btn {
    background-color: rgb(54, 101, 151);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.add-book-icon, .add-book-txt {
    display: inline-block;
}
.add-book-icon {
    content: url('./resources/book-plus.svg');
    width: 30px;
    position: relative;
    top: 5px;
}
.add-book-txt {
    font-size: 24px;
    color: rgb(250, 245, 220);
    font-weight: normal;
}
.remove-book-icon:hover{
    transform: scale(1.1);
    transition: .2sec;
}
.add-book-btn:hover {
    background-color: rgb(79, 125, 173);
    box-shadow: 1px 1px 2px 2px rgb(186, 179, 147);
}